{% load static %}
<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Sigma | {{title}}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/vendor/fonts/boxicons-2.1.4/css/boxicons.min.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/dashboard/assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/dashboard/assets/vendor/js/helpers.js' %}"></script>

    <script src="{% static 'assets/dashboard/assets/js/config.js' %}"></script>
    <script src="{% static 'assets/dashboard/js/ui-modal.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'dashboard' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid" width="40">
              </span>
              <span class="app-brand-text menu-text fw-bolder ms-2 display-6">Sigma</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Learning and Development</span>
            </li>

            <li class="menu-item">
              <a href="{% url 'sex_education' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-heart"></i>
                <div data-i18n="Layouts">Sex Education</div>
              </a>  
            </li>

            <li class="menu-item">
              <a href="{% url 'food_and_nutrition' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-bowl-hot"></i>
                <div data-i18n="Layouts">Nutrition and Diet</div>
              </a>  
            </li>

            <li class="menu-item">
              <a href="{% url 'mental_health' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-brain"></i>
                <div data-i18n="Layouts">Mental Health</div>
              </a>  
            </li>

            <li class="menu-item">
              <a href="{% url 'physical_fitness' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-run"></i>
                <div data-i18n="Layouts">Physical Fitness</div>
              </a>  
            </li>

            <li class="menu-item">
              <a href="{% url 'first_aid' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-first-aid"></i>
                <div data-i18n="Layouts">First Aid</div>
              </a>  
            </li>

            <!-- <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bx-like"></i>
                <div data-i18n="Layouts">Recommendations</div>
              </a>  
            </li> -->

            
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">News & Lifestyle</span>
            </li>

            <li class="menu-item">
              <a href="{% url 'news' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-hot"></i>
                <div data-i18n="Layouts">Health News</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Emergency Services and Medical Facilities</span>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-buildings"></i>
                <div data-i18n="Layouts">Medical Facilities and Experts</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'hospitals' %}" class="menu-link">
                    <div data-i18n="Without menu">Hospitals</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'drug_stores' %}" class="menu-link">
                    <div data-i18n="Container">Drug Stores</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'dentists' %}" class="menu-link">
                    <div data-i18n="Container">Dentists</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'physios' %}" class="menu-link">
                    <div data-i18n="Container">Physiotherapists</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'gyms' %}" class="menu-link">
                    <div data-i18n="Container">Gyms</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-buildings"></i>
                <div data-i18n="Layouts">Emergency Alerts</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'disease_map' %}" class="menu-link">
                    <div data-i18n="Container">Disease Heatmap</div>
                  </a>
                </li>
                <!-- <li class="menu-item">
                  <a href="layouts-container.html" class="menu-link">
                    <div data-i18n="Container">Local Advisories</div>
                  </a>
                </li> -->
                <li class="menu-item">
                  <a href="layouts-container.html" class="menu-link">
                    <div data-i18n="Container">Preventive Measures</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Utilities</span>
            </li>

            <li class="menu-item">
              <a href="https://tobitheprof-liz.hf.space/" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-bot"></i>
                <div data-i18n="Layouts">Talk to Liz</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{% url 'health_monitor' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-band-aid"></i>
                <div data-i18n="Layouts">Health Monitoring</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{% url 'emergency' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-book-heart"></i>
                <div data-i18n="Layouts">Report an emergency</div>
              </a>
            </li>


            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">User Account and Settings</span>
            </li>

            <li class="menu-item">
              <a href="{% url 'profile' %}" class="menu-link">
                <i class='menu-icon tf-icons bx bxs-user-account'></i>
                <div data-i18n="Layouts">Personal Profile</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{% url 'health-profile' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-book-heart"></i>
                <div data-i18n="Layouts">Health Profile</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{% url 'logout' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user-minus"></i>
                <div data-i18n="Layouts" style="color: red;">Logout</div>
              </a>
            </li>

            <!-- <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bx-slider-alt"></i>
                <div data-i18n="Layouts">Preferences</div>
              </a>
            </li> -->



          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>


              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
                    />
                  </div>
                </div>
              </div>

          </nav>
          

          <!-- / Navbar -->

            {% block content %}

            

            {% endblock content %}

          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <script src="{% static 'assets/dashboard/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/dashboard/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/dashboard/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/dashboard/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/dashboard/assets/vendor/js/menu.js' %}"></script>


    <script src="{% static 'assets/dashboard/assets/js/main.js' %}"></script>

    <!-- <script src="{% static 'assets/dashboard/assets/dashboards-analytics.js' %}"></script> -->



    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
