{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <h4>Learn Something New</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius, laborum velit placeat nobis excepturi inventore aliquid, assumenda explicabo recusandae in cumque harum? Accusamus doloribus, nihil unde amet facere id.</p>
    <div class="col-md-12 col-lg-12 mb-3">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/img/10118066_4374430.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sex Education</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/img/32784396_7985386.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Food and Nutrition</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/img/9622376.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mental Health</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/img/7879805_3796626.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Physical Fitness</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/img/6089376_22665.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">First Aid</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <h4>Latest Courses</h4>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'assets/img/6089376_22665.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">First Aid</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'assets/img/6089376_22665.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">First Aid</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock content %}
