{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <h4>{{title}}</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, autem laudantium placeat perferendis expedita hic numquam doloribus ipsa doloremque! Voluptas totam expedita sed recusandae ratione architecto sint omnis nobis porro.</p>
    <div class="col-md-12 col-lg-12 mb-3">
      <div class="">
          <iframe src="https://www.healthmap.org/en/" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock content %}



