<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Sigma</title>
</head>
<body>
  <h4>Hi there👋</h4>
  <p>Welcome aboard the Sigma train</p>
  <p class="">Sigma is not just an application; it's a groundbreaking initiative designed to revolutionize healthcare access worldwide. Developed as part of the Google Solutions Challenge, Sigma is a testament to our commitment to leveraging technology to address the Sustainable Development Goals (SDGs) set forth by the United Nations.</p>
  <p>At its core, Sigma aims to democratize healthcare by ensuring that everyone, regardless of their socio-economic status, has access to accurate medical information, timely healthcare services, and the tools necessary to lead a healthy lifestyle. We understand the challenges faced by individuals who lack access to essential medical services, and Sigma is our solution to bridge this gap.</p>

  <p>Well, that's basically all for now. We really hope you enjoy using Sigma.</p>
  <p>Tell your freinds and family about it.</p>
  <p><b>Best Regards</b></p>
  <p><i>Adika and Tobi.</i></p>
</body>
</html>