{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <h4>Health News</h4>
      <p>Get quick and easy access to all of the latest health news in the world today.</p>
      <div class="col-md-12 col-lg-12 mb-3">
        <div class="row">
          {% for article in articles %}
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
              <img class="card-img-top" src="{{article.image}}" alt="Card image cap" width="250">
              <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">
                  {{article.content | truncatechars:30}}
                </p>
                <!-- <p class="text-sm"><b>Author:</b> {{course.author}}</p> -->
                <a href="{{article.url}}" class="btn btn-outline-primary">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
{% endblock content %}
